<!DOCTYPE html>
<head>
	<title>Psychick</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel=stylesheet type="text/css" href="/static/style_w.css" media="screen">
</head>


<body>
	<div id="holder">

	<div id="header">
		<a href="/"> Home</a> |  
		<a href="/how">How We Do </a> |  
		<a href="/who">Who We Are </a>
	</div>

	<div id="main">
		<br><br>
	    <p id = "title" style = "font-size: 40px; color: MediumVioletRed; font-weight: bold">Developers</p>
	    <p id = "names">
		    Bella Y. Wang<br>
		    Frisia Y. Xue<br>
		</p>
	    <p style="font-family: pixie">This website is part of the Q&A for IBM Watson project.<br>Please feel free to tweet Frisia at @Furfirfir if you have further questions!</p>
	</div>
</body>
</html>